## 1. pandas 시작하기

### Prerequisite : Table

 - 행과 열은 이용해서 데이터를 저장하고 관리하는 자료구조(컨테이너)
 - 주로 행은 개체, 열은 속성을 나타냄
 
 ### Pandas 시작하기
 
 "import pandas"를 통해서 진행

In [2]:
import pandas as pd

## 2. pandas로 1차원 데이터 다루기 - Series

### Series?

- 1차원 labeled **array**
- 인덱스를 지정해줄 수 있음

In [3]:
s = pd.Series([1, 4, 9, 16, 25]) # 리스트 가능

s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [4]:
t = pd.Series({'one' : 1, 'two' : 2, 'three' : 3, "four" : 4, "five" : 5} ) # 딕셔너리 가능

t

one      1
two      2
three    3
four     4
five     5
dtype: int64

## Series + Numpy

- Series는 ndarray와 유사하다!

In [6]:
s[1]

4

In [7]:
t[1]

2

In [8]:
t[1:3]

two      2
three    3
dtype: int64

In [10]:
s[s > s.median()] #자기 자신의 median(중앙값)보다 큰 값들만 가지고 와라

3    16
4    25
dtype: int64

In [11]:
s[[3, 1, 4]] #여러가지의 인덱스를 동시에 한 리스트로 묶어서 전달 가능

3    16
1     4
4    25
dtype: int64

In [12]:
import numpy as np

np.exp(s) # exp() : 지수함수

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [14]:
s.dtype # series에 담긴 데이터타입 확인 가능

dtype('int64')

-> 이처럼 numpy와 series는 비슷한 점이 많음

## Series + dict
- series는 **dict**와 유사하다

In [15]:
t

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [16]:
t['one']

1

In [17]:
# Series에 값 추가

t['six'] = 6

t

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [18]:
'six' in t # t Series안에 key값 six가 있는지 없는지 판단 후  true, false로 return

True

In [21]:
# t['seven'] -> key error 발생

In [23]:
t.get('seven', 0) # seven 이란 값을 찾고 없으면 0을 return

0

In [24]:
t.get('seven') # seven 이란 값을 찾고 없으면 return 값 없음

# Series에 이름 붙이기

- 'name' 속성을 가지고 있다.
- 처음 Series를 만들 때 이름을 붙일 수 있습니다.

In [25]:
s = pd.Series(np.random.randn(5), name = "random_nums")

s

0   -0.053925
1   -1.160971
2    0.483347
3    1.034349
4    1.027276
Name: random_nums, dtype: float64

In [27]:
s.name = "임의의 난수"  # Series에 이름을 붙일 수 있음
s

0   -0.053925
1   -1.160971
2    0.483347
3    1.034349
4    1.027276
Name: 임의의 난수, dtype: float64